//Colors
$main: #000;
$norm-blue:#4d9db8;
$dark-blue:#2185a6;
$yellow1:#feb31c;
$yellow2:#feca61;
$tb:#fcfcfc;
$w-grey: #f4f4f4;
// Animation
$burger2AnimationTime: .15s;
// Padding
$tdp: 30px;
//Style
html{
    width: 100%;
}

body{
    position: relative;
    background: $w-grey;
}
input {
	display: none;
}



/* ===------ Burger Base ------=== */
.burger {
    top: 5px;
	width: 22px;
	height: 22px;
	
	position: relative;
	
	overflow: hidden;
	
	margin-left: 0px;
	margin-right: 0px;
	
	label {
		width: 22px;
		height: 22px;
		
		display: block;
		
		transition: all $burger2AnimationTime;
	
		cursor: pointer;
	}
}
#content{
    position: relative;
    display: inline-block;
    &>#soder{
        position: relative;
        padding: 120px 20px 0px;
    }
}
.row{
    display: block !important;
}
.l{
    padding-left: 240px;
    right: 0;
}
.bar {
	width: 100%;
	height: 2px;
	
	display: block;
	
	position: absolute;
	left: 0;
	
	background: $main;
	border-radius: 10px;
	
	transition: all $burger2AnimationTime;
	pointer-events: none;
}
.bar-1 {
	top: 0px;
}
.bar-2 {
	top: 9px;
}
.bar-3 {
	top: 18px;
}
.txt {
	display: none;
}



/* ===------ Burger 1 ------=== */
.burger-1 {
	input:checked ~ label {
		.bar-1 {
			top: 18px;
			
			transform: rotate(45deg);
		}
		.bar-2 {
			left: -100%;
		}
		.bar-3 {
			top: 18px;
			
			transform: rotate(-45deg);
		}
	}
}



/* ===------ Burger 2 ------=== */
@keyframes a-burger2bar1 {
	0% {
		top: 0px;
	}
	50% {
		top: 9px;
		transform: rotate(0);
	}
	100% {
		top: 9px;
		transform: rotate(45deg);
	}
}
@keyframes a-burger2bar2 {
	0% {}
	50% {}
	100% {
		opacity: 0;
	}
}
@keyframes a-burger2bar3 {
	0% {
		top: 18px;
	}
	50% {
		top: 9px;
		transform: rotate(0);
	}
	100% {
		top: 9px;
		transform: rotate(-45deg);
	}
}
//.burger-2 {
//	input:checked ~ label {
//		.bar-1 {
//			animation: a-burger2bar1 $burger2AnimationTime forwards;
//		}
//		.bar-2 {
//			animation: a-burger2bar2 $burger2AnimationTime forwards;
//		}
//		.bar-3 {
//			animation: a-burger2bar3 $burger2AnimationTime forwards;
//		}
//	}
//}



/* ===------ Burger 3 ------=== */
.burger-3 {
	input:checked ~ label {
		transform: rotate(90deg);

		.bar-1 {
			top: 18px;
			transform: rotate(45deg);
		}
		.bar-2 {
			left: 100%;
		}
		.bar-3 {
			top: 18px;
			transform: rotate(-45deg);
		}
	}
}
.w{
    width: 100%;
}
#MenuLine{
    position: fixed;
    background: $yellow1;
    padding: 19px 25px;
    z-index: 99999;
    & .u{
        display: inline-block;
        padding-left: 30px;
        margin-top: 5px;
        & h4{
        line-height: 0.6;
        padding: 0;
        font-weight: bold !important;
        }
        & a{
            color: #000 !important;
        }
    }
    & .r>input{
        height: 30px;
        width: 100px;
    }
    &>.btn{
        margin-top: 10px;
        padding: 10px;
    }
}
.btn.btn-white:hover{background: #fffffff5 !important;}
#MenuIcon{
    height: 37px;
    width: 37px;
    top: -10px;
    display: inline-block;
    position: relative;
    &:hover{
    cursor: pointer;
    }
}
#logo{
    background: $norm-blue;
    height: 100px;
    width: 240px;
    color: #fff;
    
    & h4{
        font-weight: bold;
        display: inline-block;
    }
    & img{
        display: inline-block;
        padding: 38px 15px;
    }
}
.white{
    background: #fff;
}
#MainMenu{
    height: 100vh;
    width: 240px;
    background-color: $dark-blue;
    position: fixed;
    left: 0px;
    top:0;
    z-index: 99999;
    @include transition(.2s ease-in-out);
    & a{
        display: inline-block;
    }
    & p{
        display: inline-block;
    }
    & img{
        display: inline-block;
    }
}
ul{
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    & li{
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 25px 0px 25px 33px !important;
        @include transition(.2s ease-in-out);
        & p{
            margin: 0;
            margin-left: 26px;
        }
        &:hover{
            background: darken($dark-blue, 20%);
        }
    }
}
.active{
    border-left:3px solid #fff;
    padding-left: 30px !important;
    &>a{
       color: #fff !important;
    }
}
.float-right{
    float: right;
}
.input-group[class*="col-"] {
    float: right;
    top: 14px;
    margin-right: 100px;
}
div.dropdown{
    float: right;
    top: 17px;
    background: rgba(0, 0, 0, 0) !important;
    margin-left: 35px;
    display: inline-block !important;
    & .btn{
        box-shadow: none !important;
        background: rgba(0, 0, 0, 0) !important;
        border: none;
    }
    & a{
        background: rgba(0, 0, 0, 0) !important;
        display: block !important;
    }
}
.btn{
    @include transition(.2s ease-in-out);
    &:focus{
            outline: 0 !important;
    }
}
.dropdown-menu{
    background: $yellow2;
    padding: 0;
    border: none;
    @include transition(.2s ease-in-out);
    & a{
        color: #fff;
    }
    &>.dropdown-item{
        padding: 20px 0px;
        padding-left: 20px;
        @include transition(.2s ease-in-out);
        &:hover{
            background: $yellow1 !important;
        }
    }
}
.form-control{
    box-shadow: none;
}
.table{
    border: 1px solid #ccc;
}
.table > thead{
    color: $yellow1;
    &>tr>th{
        padding: 15px $tdp;
    }
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    border:1px solid #ccc;
}
.table>tbody>tr>th,td{
    padding: $tdp !important;
    padding-bottom: $tdp/2+3 !important;
    &>p{
        display: inline-block;
        color: #aaa;
    }
}
.table-striped > tbody > tr:nth-of-type(odd){
    background: $tb;
}
.p{
    padding-top: 20px;
    padding-bottom: 20px;
}